# http://www.gnu.org/software/automake

Makefile.in
ar-lib
mdate-sh
py-compile
test-driver
ylwrap

# http://www.gnu.org/software/autoconf

aclocal.m4
autom4te.cache
autoreconf_log
autoscan-*.log
autoscan.log
compile
config.guess
config.h.in
config.h.in~
config.sub
configure
configure.scan
configure~
depcomp
install-sh
lconfig.h.in
lconfig.h.in~
missing
stamp-h1

# https://www.gnu.org/software/libtool/

libtool.m4
lt*.m4
ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

/ext/**/*m4
/ext/**/configure.ac
/ext/flopoco/Makefile.am
/ext/flopoco/src/FPExpressions/ExpressionParser.h
/ext/flopoco/src/FPExpressions/FlopocoScanner.h
/ext/flopoco/src/Makefile.am
QTCreator-PandA-GitHub.creator.user

.vscode/
build/
build_release/
obj/
panda_dist/
