# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

autoreconf_log
etc/aclocal.m4
etc/autom4te.cache/
etc/autoreconf_log
etc/config.h.in
etc/configure
etc/macros/libtool.m4
etc/macros/ltoptions.m4
etc/macros/ltsugar.m4
etc/macros/ltversion.m4
etc/macros/lt~obsolete.m4
ext/abseil-cpp/aclocal.m4
ext/abseil-cpp/autom4te.cache/
ext/abseil-cpp/configure
ext/abseil-cpp/m4/
ext/aclocal.m4
ext/autom4te.cache/
ext/autoreconf_log
ext/config.h.in
ext/configure
ext/abseil-cpp/aclocal.m4
ext/abseil-cpp/autom4te.cache/
ext/abseil-cpp/configure
ext/abseil-cpp/m4/
ext/flopoco/aclocal.m4
ext/flopoco/autom4te.cache/
ext/flopoco/config.h.in
ext/flopoco/configure
ext/flopoco/m4/
ext/flopoco/Makefile.am
ext/flopoco/configure.ac
ext/flopoco/src/FPExpressions/ExpressionParser.h
ext/flopoco/src/FPExpressions/FlopocoScanner.h
ext/flopoco/src/Makefile.am
ext/libfplll-4.0.3/aclocal.m4
ext/libfplll-4.0.3/autom4te.cache/
ext/libfplll-4.0.3/config.h.in
ext/libfplll-4.0.3/configure
ext/sollya/aclocal.m4
ext/sollya/autom4te.cache/
ext/sollya/config.h.in
ext/sollya/configure
ext/sollya/m4/
QTCreator-PandA-GitHub.creator.user
lconfig.h.in

build/
build_release/
.devcontainer/
.vscode/
obj/
*swp
*orig

panda_dist/
panda_release/