[submodule "MachSuite"]
	path = examples/MachSuite/MachSuite
	url = https://github.com/ferrandi/MachSuite.git
[submodule "CHStone"]
	path = examples/CHStone/CHStone
	url = https://github.com/ferrandi/CHStone.git
[submodule "PolyBenchC"]
	path = examples/PolyBench/PolyBenchC
	url = https://github.com/ferrandi/PolyBenchC.git
	branch = dev/panda-hls
[submodule "pugixml"]
	path = ext/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "abseil-cpp"]
	path = ext/abseil/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
