language: cpp
cache: ccache
group: travis_latest
sudo: required
compiler:
 - gcc
install: make -f Makefile.init

before_script: mkdir build

script: cd build && ../configure --prefix=$HOME/panda --enable-icarus --enable-verilator --enable-glpk --enable-opt && make -j4

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-6.0
    packages:
    - autoconf
    - autoconf-archive
    - automake
    - libtool
    - g++
    - gcc
    - gcc-8-plugin-dev
    - gcc-multilib
    - g++-8-multilib
    - gfortran-8
    - gfortran-8-multilib
    - clang++-6.0
    - libclang-6.0-dev
    - libboost-all-dev
    - libmpc-dev
    - libmpfi-dev
    - libmpfr-dev
    - libxml2-dev
    - liblzma-dev
    - zlib1g-dev
    - libicu-dev
    - bison
    - doxygen
    - flex
    - graphviz
    - iverilog
    - verilator
    - pkg-config
    - libsuitesparse-dev
    - libglpk-dev
    - make

